---
import { getCollection } from "astro:content";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import ArticleLayout from "../../layouts/ArticleLayout.astro";

import { Badge } from "@components/ui/badge";

import { format } from "@formkit/tempo";

export const getStaticPaths = (async () => {
  const posts = await getCollection("post");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
// type Props = CollectionEntry<"post">;

const post = Astro.props as Props;
const { pubDate, title, description, tags } = post.data;
const { Content } = await post.render();
---

<DefaultLayout {title} {description}>
  <ArticleLayout>
    <!-- Title -->
    <header class="not-prose flex flex-col">
      <h1
        class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
      >
        {title}
      </h1>
      <time
        datetime={format(pubDate, "YYYY-MM-DD", "en")}
        class="order-first flex items-center text-base text-muted-foreground"
      >
        <span class="h-4 w-0.5 rounded-full bg-accent-foreground"></span>
        <span class="ml-3">{format(pubDate, "long")}</span>
      </time>
      <div class="mt-6 flex flex-wrap gap-1.5">
        {tags.sort().map((tag) => <Badge variant="secondary">{tag}</Badge>)}
      </div>
    </header>

    <!-- Post -->
    <div class="">
      <Content />
    </div>
  </ArticleLayout>
</DefaultLayout>
