---
const today = new Date();
---

<footer class="group mt-32 flex-none">
  <div class="border-t border-border px-4 pb-16 pt-10 sm:px-8 lg:px-12">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">
      <div class="flex flex-col items-center gap-1.5 font-light sm:items-end">
        <p
          class="text-center text-secondary-foreground group-hover:text-foreground sm:text-start"
        >
          <span class="whitespace-nowrap">Thanks for visiting,</span>
          <br class="sm:hidden" />
          <span class="whitespace-nowrap">
            have a wonderful day
            <br class="sm:hidden" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              class="inline h-5 w-5 animate-bounce fill-secondary-foreground align-bottom transition duration-300 group-hover:fill-primary"
            >
              <path
                d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z"
              ></path>
            </svg>
          </span>
        </p>
        <p class="text-center text-sm sm:text-start">
          <span class="whitespace-nowrap"
            >&copy; {today.getFullYear()} sjunepark.com All rights reserved</span
          >
        </p>
      </div>
    </div>
  </div>
</footer>
