---
import { getCollection } from "astro:content";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("post");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
// type Props = CollectionEntry<"post">;

const post = Astro.props;
const { pubDate, title } = post.data;
const { Content } = await post.render();
---

<DefaultLayout>
  <!--todo: overwrite head-->
  <article
    class="prose prose-stone mx-auto w-full dark:prose-invert lg:prose-lg"
  >
    <!-- Title -->
    <hgroup>
      <h1>{title}</h1>
      <p>Published at {pubDate}</p>
    </hgroup>

    <!-- Tags -->
    <!--todo-->
    <div class=""></div>

    <!-- Post -->
    <div class="">
      <Content />
    </div>
  </article>
</DefaultLayout>
