---
import { fade, ViewTransitions } from "astro:transitions";
import Footer from "@components/defaultLayout/Footer.astro";
import BaseHead from "@components/defaultLayout/BaseHead.astro";
import Header from "@components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
  title: string;
  description: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
    <script is:inline>
      const setTheme = () => {
        const theme = (() => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
          ) {
            return localStorage.getItem("theme");
          }
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
          }
          return "light";
        })();

        if (theme === "light") {
          document.documentElement.classList.remove("dark");
        } else {
          document.documentElement.classList.add("dark");
        }

        const updateColorScheme = () => {
          document.documentElement.style.colorScheme = theme ?? "light";
        };

        updateColorScheme();

        window.localStorage.setItem("theme", theme || "light");
      };

      setTheme();

      document.addEventListener("astro:after-swap", setTheme);
    </script>
  </head>
  <body class="h-full">
    <div
      class="relative mx-auto flex min-h-full w-full min-w-[320px] max-w-7xl flex-col px-4 sm:px-8 md:px-12"
    >
      <!-- Background -->
      <div
        class="absolute inset-0 -z-50 mx-auto flex w-full justify-center px-4 sm:px-8 md:px-12"
      >
        <div class="w-full bg-background outline outline-1 outline-border">
        </div>
      </div>
      <Header />
      <!--suppress XmlUnboundNsPrefix -->
      <main
        class="mx-auto flex w-full flex-1 flex-col px-4 sm:px-8 md:px-12"
        transition:animate={fade({ duration: "0.2s" })}
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
